
<h1>ABOUT US</h1>
<div>
    <div class="col-md-6">
       <%= image_tag 'pages/panelboard.jpg', alt: 'panelboard', class: 'center-block' %> 
    </div>
    <div class="col-md-6">
        <h4 class="text-center">OUR COMPANY</h4>
        <p>Electrical Equipment Sales, Inc. specializes in motor control centers, motor controls, circuit breakers, disconnects, safety switches, transfer switches, transformer, and more. We pay cash for high-tech equipment, parts, materials, and excess inventory. In some instances we may be able to offer to use our resources to sell your assets on consignment. Most equipment sold on www.electricalsurplus.net is 50-90% off retail prices.</p>
    </div>
</div>