<h1>PRIVACY POLICY</h1>

<h4>Our Commitment To Privacy</h4>

<p>Your privacy is important to us. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used. To make this notice easy to find, we make it available on our homepage.</p>

<h4>The Information We Collect:</h4>

<p>This notice applies to all information collected or submitted on the electricalsurplus.net website. On some pages, you can order products, make requests, and register to receive information and materials. The types of personal information collected at these pages are:</p>
<ul>
<li>Name</li>
<li>Address</li>
<li>Email address</li>
<li>Phone number</li>
<li>(etc.)</li>
</ul>
<p>Credit/Debit Card Information is NOT collected by us online. We use Authorize.net secure servers for credit card processing.</p>

<h4>The Way We Use Information:</h4>
<p>We use the information you provide about yourself when placing an order only to complete that order. We do not share this information with outside parties except to the extent necessary to complete that order, with the exception of payment information. An example of information being provided to a 3rd party would be providing your name and address to a manufacturer that will dropship a special-ordered item directly to you.</p>

<p>We use return email addresses to answer the email we receive. Such addresses are not used for any other purpose and are not shared with outside parties.</p>

<p>You can register on our website if you would like to receive our catalog as well as updates on our new products and services. Information you submit on our website will not be used for this purpose unless you fill out the registration form.</p>

<p>Finally, we never use or share the personally identifiable information provided to us online in ways unrelated to the ones described above without also providing you an opportunity to opt-out or otherwise prohibit such unrelated uses.</p>
<h4>How To Contact Us</h4>
<p>Should you have other questions or concerns about these privacy policies, please call us at 1- 866-518-1033 or 623-466-7504.</p>