<h1>TERMS OF USE</h1>

<p>Electrical Equipment Sales, Inc. is a technology equipment distributor and reseller. The electricalsurplus.net website handles used, new and surplus equipment.
 
<p>The content of this web site is copyright 2002-2016 by Electrical Equipment Sales, Inc. All rights reserved. All other trademarks, registered trademarks, service marks or registered service marks are the property of their respective owners.</p>
 
<p>Every effort is made to ensure the accuracy of all information on this website. Electrical Equipment Sales, Inc. makes no warranty expressed or implied with respect to the accuracy of the information, including prices, product editorials, product specifications or advertising.</p>
 
<p>All manufacturers' suggested retail or list prices are current at the time of publication and are subject to change without notice. All other prices are subject to change without notice unless locked in pursuant to a written quote provided by Electrical Equipment Sales, Inc. or one of our website venues.</p>
 
<p>Electrical Equipment Sales, Inc. offers its products for sale to technology companies, individuals, educational institutions, research laboratories, government, and individuals via a website shopping cart or direct sale using phone and fax. For additional information, product assistance, configuration guidance or application planning, contact a electricalsurplus.net sales assistant toll free at 1 (866) 518-1033 or locally at (623) 466-7504.</p>
