
<h1>WE BUY</h1>
<div>
    <div class="col-md-6">
       <%= image_tag 'pages/panelboard.jpg', alt: 'panelboard', class: 'center-block' %> 
    </div>
    <div class="col-md-6">
        <h4 class="text-center">We pay cash for new and used equipment.</h4>
        <p>If you are looking to sell old and/or new equipment - just send us a list of what you are trying to sell. If we can match your products to our customer’s needs and you do not already have exclusive distribution in the U.S. we will pay cash for your items of interest.</p>
        <div class="row text-center"> 
            <h4>SOME ITEMS WE BUY:</h4>
            <ul class="col-md-6">
                <li>Circuit Breakers</li>
                <li>Distribution</li>
                <li>Panelboards</li>
                <li>Transformers</li>
            </ul> 
            <ul class="col-md-6">
                <li>Motor Control</li>
                <li>Lighting</li>
                <li>Switches</li>
                <li>Contactors</li>
            </ul> 
        </div>  
        <h4 class="text-center">DEMOLITION SERVICES</h4>
        <p class="text-center">We will come to your demolition site and pickup used equipment.</p>
    </div>
</div>
