<div class="well">
<div class="row text-center">
    <div class="col-md-3">
          <h4>PHONE</h4>
            <p>Toll Free: 1-866-518-1033<br>Local: 623-466-7504<br>Spanish: 623-533-9185</p>   
    </div>
    <div class="col-md-3">   
      <h4>FAX</h4>
        <p>
          623-466-7506 
        </p>  
    </div>     
    <div class="col-md-3">  
    <h4>WAREHOUSE</h4>
        <p>7727 North 63rd Ave<br>Glendale, AZ 85301</p>
    </div    
    <div class="col-md-3">     
    <h4>MAILING</h4>
        <p>PO BOX 10926<br>Glendale, AZ 85318</p>
    </div>     
</div>
</div>
<div class="container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13300.441881297385!2d-112.194861!3d33.550506!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe0a098ecc221ccbe!2sElectrical+Equipment+Sales!5e0!3m2!1sen!2sus!4v1447824993899" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>